.text-field{
    -fx-prompt-text-fill:white;
    -fx-text-fill: white;
}
#panelBotones{
    -fx-background-color:  #276EB5;
}

.table-view {
    -fx-font-size: 12px;
    -fx-text-fill: blue;
}

/* Set the background color for the cells */
.table-view .table-cell {
    -fx-cell-size: 30px;
    -fx-background-color: lightgrey;
}

/* Set the background color for the alternating rows */
.table-view .table-row-cell:odd {
    -fx-background-color: white;
}
.table-view .table-row-cell:even {
    -fx-background-color: lightgrey;
}






#btnAddUser{
    -fx-background-color:#5AAAFF
}
#btnCarrito{
    -fx-background-color:#5AAAFF
}
#btnReservar{
    -fx-background-color:#5AAAFF
}

.combo-box{
    -fx-prompt-text-fill:white;
    -fx-text-fill: white;
}

.table-view{
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
